.card__section
  .card__list
    - @posts.each do |post|
      .card__list--item
        - if post.image.present?
          =link_to image_tag(post.image.url, alt: 'サムネイル画像', class: "card__image"), post_path(post.id)
        - else
          =link_to image_tag("noimage.png", class: "card__image"), post_path(post.id)
        .card__list--contents
          .card__list--text
            = link_to post.user.nickname, user_path(post.user)
          .card__list--text-title
            = link_to post.title, post_path(post.id)
          .card__list--text-date
            = post.created_at.strftime("%Y.%m.%d")
          %div{:id => "likes_buttons_#{post.id}"}
            = render partial: 'likes/like', locals: { post: post, likes: @likes}
= paginate @posts
