.post__contents
  .post__contents--title
    = @post.title
  .post__contents--date
    = @post.created_at.strftime("%Y/%m/%d(%a) %H:%M:%S")
  .post__contents--author
  .post__contents--manage
    - if user_signed_in? && current_user.id == @post.user_id
      = link_to "編集", edit_post_path(@post.id),class: "post__contents--manage-edit"
      = link_to "削除", post_path(@post.id), method: :delete, data: { confirm: "「#{@post.title}」を削除します。よろしいですか？" }, class: "post__contents--manage-delete"
  .post__contents--text
    = simple_format @post.content
    .post__contents--image
      = image_tag @post.image_url  if @post.image.present?

=render 'comments/show'
