.header
  .header__title
    = link_to image_tag("logo.png", width:'200'), posts_path
  .header__right
    - if user_signed_in?
      %label.header-label
        = link_to user_path(current_user), class:"header__right--btn" do
          %i.fas.fa-user 
      %label.header-label
        = link_to new_post_path, class:"header__right--btn" do
          %i.fas.fa-pencil-alt
      %label.header-label
      = link_to  destroy_user_session_path, method: :delete, class: "header__right--btn" do
        %i.fas.fa-sign-out-alt
        
    - else
      = link_to "Signup", new_user_registration_path, class: "header__right--btn"
      = link_to "Signin", new_user_session_path, class: "header__right--btn"