.header
  .header__title
    = link_to "OutPut Blog", posts_path, class: "header__title--text"
    - if flash[:notice]
      .flash
        = flash[:notice]
  .header__right
    - if user_signed_in?
      %label.header-label
        %i.fas.fa-user
        = link_to "Mypage", user_path(current_user), class:"header__right--btn"
      %label.header-label
        %i.fas.fa-pencil-alt
        = link_to "New Post", new_post_path, class:"header__title--text"
      %label.header-label
        %i.fas.fa-sign-out-alt
        = link_to "Signout", destroy_user_session_path, method: :delete, class: "header__right--btn"
    - else
      = link_to "Signin", new_user_session_path, class: "header__right--btn"
      = link_to "Signup", new_user_registration_path, class: "header__right--btn"